.search-form {
  margin: 2rem auto;
  display: flex;
  justify-content: space-around;
  column-gap: 1rem;
  width: 90%;
  max-width: 600px;
}

.input-text,
.submit-button {
  padding: 0.5rem 1.5rem;
  border-radius: 0.5rem;
  border: 0;
  font-size: 0.9rem;
}

.input-text {
  flex-grow: 1;
}

.input-text:active,
.input-text:focus {
  outline: 0;
}

.submit-button {
  background-color: #503bb8;
  color: #fcfcfc;
  font-size: 1rem;
  font-weight: 900;
  border: 1px solid transparent;
  cursor: pointer;
  align-self: center;
}

.submit-button:active,
.submit-button:hover {
  background-color: #5c49bd;
}

.submit-button:disabled {
  background-color: #aaa;
  cursor: auto;
  color: #444;
}

@media screen and (max-width: 500px) {
  .input-text,
  .submit-button {
    padding: 0.3rem;
  }
}
