@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap");

#root {
	max-width: 1280px;
	margin: 0 auto;
	text-align: center;
}

/*====================================== reset  ===================================== */

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;

	outline: 1px solid rgba(150, 150, 150, 0.5);
	font-family: "Poppins", sans-serif;
}

body {
	background-color: #cfcfcf;
}

#root {
	min-height: 100dvh;
}

main {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

h1 {
	margin-block: 1rem;
}

section {
	flex: 1;

	display: grid;
	grid-template-columns: 50% 50%;
	grid-auto-rows: 1fr;
}
